# Vivado generated stuff (ignore these)
*.jou
*.log
*.str
*.zip
*.html
*.xml
*.xpr
*.rpx
*.dcp
*.ltx
*.pb
*.wdb
*.sdk
*.hw

.ip_user_files/
.sim/
.cache/
.Xil/
.runs/
.srcs/
.gen/
.ipguard/
.hw/
.ipdefs/

# Generic build dir
/build/

# OS junk
**/.DS_Store
Thumbs.db

# original project tool outputs
rv32i_cpu.cache/**
rv32i_cpu.hw/**
rv32i_cpu.ip_user_files/**
rv32i_cpu.sim/**
rv32i_cpu.srcs/**

# keep only HDL files
!rv32i_cpu.srcs/sources_1/new/**
!rv32i_cpu.srcs/sim_1/new/**
